
<div *ngFor="let produto of produtos" class="produto">
    <div class="card-produto">
      <h2> {{ i.nome }} </h2>
      <p *ngif="ProdutoAtivo">{{ produtos.descricao }}</p>
      <p *ngif="ProdutoAtivo">{{ produtos.preco }} </p>
      <p *ngif="ProdutoAtivo">R${{ produtos.quantidade }}</p>
      <img *ngif="ProdutoAtivo" src="{{ produtos.imagem }}" width="250px" height="250px">
      <p *ngif="ProdutoAtivo" [ngClass]="{ 'com-estoque': ProdutoAtivo, 'sem-estoque': !ProdutoAtivo }">
        {{ ProdutoAtivo ? 'Com estoque' : 'Sem estoque' }}</p>
      </div>
</div>
<hr>
<button (click)="exibeProdutoSimNao()">Exibe Produto</button>
