
<div *ngFor="let produto of produtos" class="produto">
    <div class="card-produto">
      <h2> {{ produto.nome }} </h2>
      <p *ngif="ProdutoAtivo">{{ produto.descricao }}</p>
      <p *ngif="ProdutoAtivo">{{ produto.preco }} </p>
      <p *ngif="ProdutoAtivo">R${{ produto.quantidade }}</p>
      <img src="{{produto.imagem}}" width="250px" height="250px">
      <p *ngif="ProdutoAtivo" [ngClass]="{ 'com-estoque': ProdutoAtivo, 'sem-estoque': !ProdutoAtivo }">
        {{ ProdutoAtivo ? 'Com estoque' : 'Sem estoque' }}</p>
      </div>
</div>
<hr>
<button (click)="exibeProdutoSimNao()">Exibe Produto</button>
